.container {
    max-width: 100%;
    padding: 0px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.aboutheader,
.whoheader,
.joinheader {
    max-width: 100%;
    position: relative;
    white-space: nowrap;
    text-align: center;
    display: flex;
    margin: 20px auto;
    text-decoration: underline;
    font-weight: bold;
}

.aboutimage {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.aboutdescription,
.whodescription,
.joindescription {
    font-weight: bold;
    width: 80%;
    font-size: 18px;
    margin: 20px auto;
    text-align: center;
    position: relative;
}

@media only screen and (max-width: 600px) {

    .container {
        padding: 10px;
    }
    .aboutdescription,
    .whodescription,
    .joindescription {
        width: 90%;
        font-size: 16px;
    }
}